<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <form method="post" (ngSubmit)="submitForm()" #loginForm="ngForm">
                <div class="card-body">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input [(ngModel)]="user.userName" required #userName="ngModel" name="userName" type="text"
                           class="form-control" placeholder="Username">
                    <span class="help-block" [hidden]="userName.valid || userName.pristine">请输入用户名</span>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input [(ngModel)]="user.userPwd" required #passWd="ngModel" name="userPwd" type="password"
                           class="form-control" placeholder="Password">
                    <span class="help-block" [hidden]="passWd.valid || passWd.pristine">请输入密码</span>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" [disabled]="!loginForm.form.valid&&status" class="btn btn-primary px-4">
                        Login
                      </button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
